.title{
    font-size:17px;
    font-weight:600;
    height:30px;
}

.subtitle{
    font-weight:600;
    height:60px;
    width: 550px;
    font-size:14px;
    color:gray;
}

.table {
    width:400px;
}
.table td{
    border-top:0px;
    left: 0;
    padding-top:1.75rem;
}

.row{
    margin-left:0px;
    margin-bottom:0px;
}